In [1]:
import os
import pandas as pd

In [2]:
data_dir = "../data/"

sbab_file = os.listdir(data_dir)[-1]
sbab_filepath = os.path.join(data_dir, sbab_file)

In [6]:
df = pd.read_csv(sbab_filepath)

In [8]:
df.head()

,Unnamed: 0,LoptidText,Rantesats,Rantebindningstid,EffektivRantesats,loan_amount,asset_value,provider
0,0,2023-07-03,4.17,3,0.0,50000,50000,sbab
1,1,2024-04-03,4.92,12,0.0,50000,50000,sbab
2,2,2025-03-17,4.91,24,0.0,50000,50000,sbab
3,3,2026-03-17,4.73,36,0.0,50000,50000,sbab
4,4,2027-03-17,4.65,48,0.0,50000,50000,sbab